p {

    color: #260101;
    word-spacing: 2px;
    font-family: Serif;
    font-size: 14px;
    display:block;
    float:left;



}

body {
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(344deg, rgba(255, 255, 255, 1) 0%, rgba(121, 241, 30, 1) 13%, rgba(2, 159, 220, 1) 83%, rgba(0, 212, 255, 1) 100%);
    /*background-image: url("Leylines.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    Commented to keep readability
    */

}

a:visited {
    color: indigo;
}

a:hover {
    color: teal;
}

q {
    width: 50%;
    /* margin:0 auto; */
    display: block;
    font-size: 160%;
    background-color: lightgrey;
    border-left: 3px dashed;
    padding-left: 30px;
    margin: 80px auto;
    font-style: italic;
    position: static;
}

.farmer {
    border-color: darkgreen;

}

.villagers {
    border-color: maroon;

}


[attribute="Good"] {
    text-transform: capitalize;
    color: green;
}

[attribute="Bad"] {
    text-transform: capitalize;
    color: red;
}


header:first-of-type
{
    font-weight: bold;
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

img{
    float:left;
    position:static;
    width:100%;
    display: block;
    padding:20px;
    margin:20px;

}

article{
    display:block;
    float:left;

}
h4{
    display:block;
    float:bottom;
}


table{
    display:block;
    float:bottom;
}

footer {
    display:block;
    float:left;
}

ul{
    display:block;
    float:bottom;
    position: static;
}

h3{
    display:block;
    float:left;
    margin:20px auto;
    position: static;
}

